# Ignore Git repository
.git
.gitignore

# Ignore local environment file
.env

# Ignore Node.js dependencies (they are handled inside the container)
node_modules

# Ignore Composer dependencies
vendor

# Ignore IDE/editor files
.idea
.vscode

# Ignore macOS files
.DS_Store

# Laravel specific
/storage/*.log
/public/hot

package-lock.json